<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>간단한 지도 표시하기</title>
<script type="text/javascript"
	src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=butimsrvsd"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div id="map" style="width: 100%; height: 400px;"></div>
	<p th:text="'Hello, '+${user}+'!'" />
	<input type="button" value="길찾기" id="drawingBtn" onclick="callDrawingAPI()"> 
	<script th:inline="javascript">
		//지도를 삽입할 HTML 요소 또는 HTML 요소의 id를 지정합니다.
		var mapDiv = document.getElementById('map'); // 'map'으로 선언해도 동일

		//옵션 없이 지도 객체를 생성하면 서울 시청을 중심으로 하는 16 레벨의 지도가 생성됩니다.
		var map = new naver.maps.Map(mapDiv);
		/*<![CDATA[*/
		var sx = [[${sx}]];
		var sy = [[${sy}]];
		var ex = [[${ex}]];
		var ey = [[${ey}]];
		/*]]>*/
		function callDrawingAPI(){
			$.ajax({
				url:"map/drawing",
			    type:"post",
			    data :JSON.stringify({
			    	sx : sx,
			    	sy : sy,
			    	ex : ex,
			    	ey : ey
			    }),
			    contentType: "application/json",
			    dataType:'text', 
			    success: function(realPath){
			    	var coordinates = parsingToFloatArray(realPath);
			    	insertFeatureToGeoJSON(coordinates);
			    	map.data.addGeoJson(geoJson);
			    },
				error:function(e){
				  alert("data error"+e);
				}
			});
		}
		
		var geoJson = {
				"type" : "FeatureCollection",
				"features" : []
			};
		function parsingToFloatArray(realPath){
			var stilStr = realPath.replace(/\[|\]/g,"").split(",");
			var coordinates = [];
	    	for(var i =0; i<stilStr.length; i+=2){
	    		var coor = [];
	    		coor.push(parseFloat(stilStr[i]));
	    		coor.push(parseFloat(stilStr[i+1]));
	    		coordinates.push(coor);
	    	}
			return coordinates;
		}
		function insertFeatureToGeoJSON(coordinates){
			geoJson.features.push(createFeature(coordinates));
		}
		function createFeature(coordinates){
			var feature ={
					"type" : "Feature",
					"geometry" : {
						"type" : "LineString",
						"coordinates" : coordinates
					}
			};
			return feature;
		}
	</script>
</body>
</html>